<form name="reccomendation" action="rec" method="post">
  Name of Item<input type="text" name="title">
  <br>
  Link to Item<input type="text" name="link">
  <br>
  Creator<input type="text" name="creator">
  <br>
  Kind of item<input type="text" name="class">
  <br>
  Description
  <br>
  <textarea name="description" row="15" cols="30"></textarea>
  <br>
  <input type="submit" value="Submit"
</form>