<form  name="Register" action="reg" method="post">Register Account
  <input type="text" name="Username"  placeholder="Username">
  <input type="text" name="Password" placeholder="Password">
  <input type="submit" value="Submit">
</form>

<form name="Login"  action="log" method="post">Login
  <input type="text" name="Username" placeholder="Username">
  <input type="text" name="Password" placeholder="Password">
  <input type="submit" value="Submit">
</form>